* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 800px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}
.header {
    color: #454545;
    font-size: 45px;
}
.building {
    position: relative;
    display: flex;
    justify-content: center;
    width: 533px;
    margin-top: 30px;
}
.building:hover .building_image_left {
    opacity: 0.1;
}
.building_image_right {
    pointer-events: none;
    position: absolute;
    height: 583px;
    width: 332px;
    left: 201px;
    top: -70px;
    background: url("../img/building.jpg") 97% center/cover no-repeat;
    z-index: 2;
}
.building_image_left {
    pointer-events: none;
    position: absolute;
    height: 583px;
    width: 553px;
    left: -22px;
    top: -70px;
    background: url("../img/building.jpg") center center/cover no-repeat;
    transition: opacity 0.5s;
    z-index: 1;
}
.lift {
    display: none;
    position: absolute;
    top: 447px;
    left: 43px;
    height: 50px;
    width: 50px;
    border: 3px solid gray;
}
.lift__shaft {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    height: 500px;
    width: 100px;
}
.lift__wheel-holder {
    position: absolute;
    top: -40px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid gray;
}
.lift__wheel {
    width: 52px;
    height: 52px;
    position: absolute;
    top: -60px;
    left: 20px;
    border: 5px solid gray;
    border-radius: 50%;
}
.lift__counterweight {
    display: none;
    position: absolute;
    top: 0;
    left: 12px;
    width: 20px;
    height: 50px;
    background-color: gray;
}
.lift__rope_one {
    display: none;
    position: absolute;
    top: -35px;
    left: 67px;
    height: 484px;
    border-right: 3px solid gray;
}
.lift__rope_two {
    display: none;
    position: absolute;
    top: -35px;
    left: 21px;
    height: 32px;
    border-right: 3px solid gray;
}
.wheel__spoke {
    position: absolute;
    top: 17px;
    width: 46px;
    border: 5px solid gray;
    transform: rotate(30deg);
}
.wheel__spoke_second {
    position: absolute;
    top: 15px;
    left: -3px;
    width: 46px;
    border: 5px solid gray;
    transform: rotate(120deg);
}
.floors {
    border-right: 3px solid gray;
    height: 500px;
    width: 430px;
}
.floor {
    border-top: 3px solid gray;
    height: 50px;
    padding: 14px;
    cursor: pointer;
}
.floor:last-child {
    border-bottom: 3px solid gray;
}
.button_container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
}
.lift_start, .save_floor, .clear_floor {
    margin: 0 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: grey;
    font-size: 15px;
    color: white;
}
.lift_start:hover, .save_floor:hover, .clear_floor:hover {
    background-color: darkgray;
}
.lds-spinner {
    color: gray;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: gray;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
